@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');
#page-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0%;
    background-color: antiquewhite;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

h1 {
    font-family: 'Agdasima', sans-serif;
    font-size: 60px;
    color: #0c4b80;
}
.botaoLogin {
    width: 250px;
    background-color: #E4252F;
    border-radius: 16px;
    border-color: white;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: justify;
    flex-direction: row;
    font-family: 'Agdasima', sans-serif;
    font-size: 25px;
    align-items: center;
}

.botaoLogin:hover{
    background-color: red;
}

.googleLogo {
    padding: 0% 10%;
}