@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 1% 0.5% 1%;

    border-bottom: 0.1px solid #a7a7a7;
}

.botao-log-out{
    padding: 0.45% 0.8%;
    background-color: #E4252F ;
    color: white;
    border-color: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border-radius: 1vh;
    border-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.usuario {
    display: flex;
    align-items: center;
    font-family: 'Agdasima', sans-serif;
    font-size: 22px;
    gap: 10px;
}

.foto-google {
    border-radius: 100px;
    width: 15%;
    height: 10%;
}

.logo-farmacia{
    max-width: 200px;
    width: auto;
}

.cargo{
    opacity: 0.75; 
    font-size: 24px;
}

.botao-log-out:hover{
    background-color: rgb(255, 71, 71);
}

.gerente-main {
    display: flex;
    padding-top: 1%;
    flex-direction: row;
}

.barra-lateral {
    
}
