@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 1% 0.5% 1%;

  border-bottom: 0.1px solid #a7a7a7;
}

.usuario {
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: "Agdasima", sans-serif;
  font-size: 22px;
  gap: 10px;
}

.foto-google {
  border-radius: 100px;
  width: 15%;
  height: 10%;
}

.cargo {
  opacity: 0.75;
  font-size: 28px;
}

.logo-farmacia {
  max-width: 200px;
  width: auto;
}

.botao-log-out {
  padding: 0.45% 0.8%;
  background-color: #e4252f;
  color: white;
  border-color: none;
  font-family: "Agdasima", sans-serif;
  font-size: 16px;
  border-radius: 1vh;
  border-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.botao-log-out:hover {
  background-color: rgb(255, 71, 71);
}

/* main */
.funcao {
  display: flex;
  align-items: start;
  padding-top: 0%;
  flex-direction: row;
}

.avaliacoes-pendentes {
  display: flex;
  flex-direction: column;
  padding: 1% 0%;
  align-items: start;
  gap: 50px;
}

.titulo {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
}

.avaliacoes-pendentes-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avaliacoes-pendentes-links-link {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #0c4b80;
  color: aliceblue;
  border-radius: 10px;

  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 1%;

  text-decoration: none;
  min-width: 1250px;
  min-height: 50px;
}

a:hover {
  opacity: 0.9;
}

.barra-lateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  flex: 0.7;
  padding: 1% 0%;

  color: aliceblue;
  background-color: #0c4b80;
  font-family: "Poppins", sans-serif;
  border-right: 0.1px solid #a7a7a7;

  gap: 10px;
}

.barra-lateral-link {
  text-align: center;
  padding: 5% 5%;
  background-color: #e4252f;
  color: aliceblue;
  text-decoration: none;
  border-radius: 5px;
  min-width: 387px;
}

.barra-lateral-link:hover{
  opacity: 0.9;
}
